obj/ApiTantaros.csproj.nuget.cache
obj/ApiTantaros.csproj.nuget.g.props
obj/ApiTantaros.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.0/ApiTantaros.AssemblyInfo.cs
obj/Debug/netcoreapp2.0/ApiTantaros.csproj.CoreCompileInputs.cache
